<template>
    <div class="tabbar" :class="activeClass">
        <slot></slot>
    </div>
</template>

<script>

export default {
    name: 'tabbar',
    props: {
        bgColor: {
            type: String,
            default: '#F7F7FA'
        }
    },
    data(){
        return {
            activeClass: {
                backgroundColor: this.bgColor
            }
        }
    },
}
</script>
<style lang="less">
    .tabbar {
        position: fixed;
        bottom: 0;
        display: flex;
        height: 50px;
        text-align: center;
    }
</style>