<template>
    <div class="tabbar-item">
        <router-link :to="link">
            <slot name="icon"></slot>
            <slot name="label"></slot>
        </router-link>
    </div>
</template>

<script>

export default {
    name: 'tabbarItem',
    props: {
        link: {
            type: String,
            default: ''
        },
        selected: {
            type: Boolean,
            default: false
        },
        index: {
            type: String,
            default: ''
        }
    },
    data(){
        return {
            
        }
    },
    mounted() {
        console.log(this.link);
    },
}
</script>
<style lang="less">
    .tabbar-item {
        flex: 1;
        line-height: 50px;
        img {
            display: block;
            width: 30%;
        }
        span {
            margin-top: 30px;
        }
    }
</style>