<template>
    <div class="cart">
        <h3>购物车</h3>
    </div>
</template>

<script>

export default {
    name: 'cart',
    data(){
        return {
            show: false
        }
    },
    components: {
        
    }
}
</script>
