<template>
    <div class="home">
        <h3>分类</h3>
    </div>
</template>

<script>
export default {
    name: 'category',
    data(){
        return {
            show: false
        }
    },
    components: {
        
    }
}
</script>
