<template>
    <div class="home">
        <header>
            <span class="left im-icon-content">
                <i class="iconfont icon-xiaomi positon-center im-icon"></i>
            </span>
            <qin-search v-model="queryValue" @onSearch="search" class="home-search"></qin-search>
            <span class="right">
                <i class="iconfont icon-yonghu"></i>
            </span>
        </header>
    </div>
</template>

<script>
import qinSearch from '@/components/qinSearch';
export default {
    name: 'home',
    data(){
        return {
            queryValue: ''
        }
    },
    components: {
        qinSearch
    },
    methods: {
        search(val){
            console.log(this.queryValue);
        }
    }
}
</script>

<style lang="less" scoped>
.im-icon-content {
    position: relative;
    width: 10%;
    .im-icon {
        font-size: 24px;
        color: #ff6b00;
        left: 60%;
    }
}
.home-search {
    width: 70%;
}
</style>