<template>
    <div class="im-content">
        <qin-header></qin-header>
        <router-view/>
        <qin-footer></qin-footer>
    </div>
</template>

<script>
import qinHeader from '@/components/qinHeader';
import qinFooter from '@/components/qinFooter';
export default {
    name: 'Index',
    data(){
        return {
            show: false
        }
    },
    methods: {
        alertShow(){
            this.show = true;
        },
    },
    components: {
        qinHeader,
        qinFooter
    }
}
</script>

<style lang="less" scoped>
    .main {
        width: 100%;
        height: 30vh;
    }
</style>

