<template>
    <div class="my-info">
        <h3>我的相关</h3>
    </div>
</template>

<script>
export default {
    name: 'myInfo',
    data(){
        return {
            show: false
        }
    },
    components: {
    }
}
</script>
