<template>
    <footer>
        <tabbar class="footer-tabbar">
            <tabbar-item link="/">
                <i slot="icon" class="iconfont icon-xiazai45"></i>
                <span slot="label">首页</span>
            </tabbar-item>
            <tabbar-item link="/category">
                <i slot="icon" class="iconfont icon-fenlei"></i>
                <span slot="label">分类</span>
            </tabbar-item>
            <tabbar-item link="/cart">
                <i slot="icon" class="iconfont icon-gouwuche"></i>
                <span slot="label">购物车</span>
            </tabbar-item>
            <tabbar-item link="/myinfo">
                <i slot="icon" class="iconfont icon-yonghu"></i>
                <span slot="label">我的</span>
            </tabbar-item>
        </tabbar>
    </footer>
</template>

<script>
import { Tabbar, TabbarItem } from 'vux';
export default {
  name: 'qinFooter',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  },
  components: {
      Tabbar, 
      TabbarItem
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .footer-tabbar {
       background-color: #fff;
    }
</style>
