<template>
    <div class="header">
       
    </div>
</template>

<script>
import { Search } from 'vux';
export default {
  name: 'qinHeader',
  data () {
    return {
      queryValue: '',
      results: []
    }
  },
  methods: {
      
  },
  components: {
      Search
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
