<template>
    <div class="main">
        <router-view/>
    </div>
</template>

<script>
export default {
  name: 'qinMain',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  },
  components: {
      
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
