<template>
    <div class="search" :class="searchClass">
        <div class="search-content">
            <input type="text" 
            v-model="queryValue"
            @focus="focus"
            @change="change" 
            class="search-content-input" 
            :class="{'search-content-right': iconRight}">
            <i class="iconfont icon-sousuo icon-search"
            @click="onSearch" 
            :class="iconRight ? 'icon-search-right' : 'icon-search-left'"></i>
        </div>
    </div>
</template>
<script>
export default {
    name: 'qinSearch',
    props: {
        iconRight: {
            type: Boolean,
            default: false
        },
        value: {
            type: String,
            default: ''
        },
        searchClass: {
            type: Object,
            default: () => {
                return '';
            }
        }
    },
    data(){
        return {
            queryValue: '',
        }
    },
    created(){
        if(this.value){
            this.queryValue = this.value;
        }
        if(this.searchClass !== null){

        }
    },
    methods: {
        onSearch(){
            this.$emit('onSearch');
            this.$parent.queryValue = this.queryValue;
        },
        focus(){
            this.queryValue = '';
        },
        change(){
            this.$parent.queryValue = this.queryValue;
        }
    }
}
</script>
<style lang="less" scope>
    .search {
        display: inline-block;
        width: 100%;
        .search-content {
            position: relative;
            input.search-content-input {
                width: 100%;
                height: 32px;
                padding-left: 32px;
                border: 1px solid #e5e5e5;
                line-height: 32px;
            }
            input.search-content-right {
                float: left;
                padding-left: 0;
                width: calc(100% - 50px);
            }
            .icon-search {
                position: absolute;
                top: 3px;
                width: 32px;
                height: 100%;
            }
            .icon-search-left {
                left: 3px;
            }
            .icon-search::before {
                font-size: 18px;
            }
            .icon-search-right {
                right: 10px;
            }
        }
    }
</style>
